* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/* Mobile base styles (default) */
body { font-size: 1rem;background-color:#225066;
    color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:linear-gradient(yellow,purple);
    height:100%;
    width:100%
 }

/* Tablet and larger */
@media (min-width: 768px) {
  body { font-size: 1.125rem;background-color:#225066;
    color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      height:100%;
      width:100%
 }
}
h1{
     background-color:silver;
  color:transparent;
    background:linear-gradient(90deg,cyan,purple);
    -webkit-background-clip:text;
  font-size:1.3rem;
  border-radius:15px;
    box-shadow: 2px 2px 12px silver;
    animation:bounce 3s ease-out infinite
}
@keyframes bounce{
    0%{
        transform: translateY(40px)
    }
    50%{
        transform: translateY(-40px)
    }
  100%{
      transform: translateY(40px)
  }  
}
    /* Aligns vertically */
    /* Required if you want vertical align